<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="css/styles.css" rel="stylesheet" />
  </head>
  <body>
    <h1>Image Holder</h1>

    <p>Please upload image</p>
    <!-- <button class="button button1" onclick="">Upload Image</button> -->
    <input
      class="button button1"
      data-bind="event: { change: function() { handleImage($element.files[0]) } }"
      type="file"
      id="image-input"
      accept="image/jpeg, image/png, image/jpg"
    />
    <br /><br /><br />
    <!-- <div id="display-image"></div> -->
    <div>
      <p>Tools Section</p>
      <i class="fab fa-black-tie"></i>
      <button
        class="button button2"
        type="button"
        data-bind="click: grayscaleImage"
      >
        Grayscale
      </button>
      <button
        class="button button3"
        type="button"
        data-bind="click: downloadImage"
      >
        Download
      </button>
    </div>

    <canvas
      id="myCanvas"
      width="200"
      height="100"
      style="border: 1px solid #000000"
    >
    </canvas>
  </body>
</html>
